html, body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #f7d8a5;
}

#canvasDiv {
    /* width: 700px;
    height: 700px; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

canvas {
    border-style: solid;
    border: none;
    float: left;
}

.toolsBar {
    border: none;
    outline: none;
    margin: 10px;
}

.rightBar {
    margin: 10px;
}

button {
    background: none;
    border: none;
    outline: none;
    margin: 3px;
    opacity: 1;
}

button:active {
    opacity: 0.6;
}

button:hover {
    opacity: 0.6;
}

label {
    opacity: 1;
    margin: 7px;
}

label:hover {
    opacity: 0.6;
}

.toolChoosen {
    opacity: 0.6;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: gray;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}


.colorPickSelector {
      border-radius: 8px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      -webkit-transition: all linear .2s;
      -moz-transition: all linear .2s;
      -ms-transition: all linear .2s;
      -o-transition: all linear .2s;
      transition: all linear .2s;
      margin: 10px 0px;
}
    
.colorPickSelector:hover { transform: scale(1.1); }


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 130px;
    height: 40px;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}